scikit-learn
boxkite==0.0.5
Flask
flake8
yapf
selenium
locust
yapf
prometheus-client
numpy
werkzeug
MarkupSafe==2.0.0
jinja2
click
flask-cors
flask-restful
flask-sqlalchemy
flask-migrate
flask-login
flask-jwt-extended
itsdangerous
importlib-metadata
gunicorn

